<!DOCTYPE html>
<html lang="us-en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <h1>AngularJS</h1>
    <h2>AngularJS Directives</h2>
    <ul>
      <li>AngularJS is used to extend HTML attributes with ng-directives and bind dat to HTML using expressions or ng-bind directive.</li>
      <li>AngularJS has set of built-in directives which offers functionality to our application.</li>
      <li>AnglarJS lets we create our own directives</li>
      <li>ng-app directive is a root element of an Angularjs application and it will auto-bootstrap (automatically initializes) the application, when a web page is loaded</li>
      <li>ng-model directive binds the values of HTML controls (textarea, input, select) the application data</li>
      <ul>
        <li>ng-model also</li>
        <li>provide type validation for application data(email, required, number)</li>
        <li>provide status for application data (invalid, dirty, touched, error)</li>
        <li>provide css classes for HTML elements</li>
        <li>provide HTML elements to HTML forms</li>
      </ul>
      <li>ng-bind directive binds aplication data to HTML view</li>
      <li>ng-init defines the angularjs application variables</li>
      <li>ng-controller defines angularjs controller</li>
      <li>ng-repeat directive repeats an HTML element. Actually ng-repeat directive clones HTML element once for each item in a collection</li>
    </ul>
    <!-- <div ng-app="">
      <div ng-init="quantity=1; prices=5 ">
        Quantity:<input type="number" ng-model="quantity"><br>
        Prices:<input type="number" ng-model="prices"><br>
      Total value is  {{quantity * prices}}
      </div>
      <div ng-init="names=['Jani', 'Tonny', 'Sonny']">
        <ul>
          <li ng-repeat="x in names">{{x}}</li>
        </ul>
      </div>
      <h2>ng-repeat directive repeats an array of objects</h2>
      <div ng-init="persons=[{person:'Kohli', country:'India'},{person:'Sachin', country:'UK'},{person:'Dhoni', country:'Russia'}]">
        <ul>
          <li ng-repeat="y in persons">{{y.person + " ," + y.country}}</li>
        </ul>
      </div>
    </div> -->
    <h2>Creating our own directive</h2>
    <ul>
      <li>Create a new directive by using .directive function</li>
      <li>To invoke a new directive, make an HTML element with the same tag name as new directive</li>
      <li>When naming a new directive, we must use camelCase when invoking it, we must use - seperated name </li>
    <li>WE can invoke a directive by using</li>
    <ul>
      <li>element name</li>
      <li>attribute</li>
      <li>class</li>
      <li>comments</li>
    </ul>
    </ul>

    <div ng-app="myApp1">
      <h3>Invoke a directive using element name</h3>
      <w3-test-directive></w3-test-directive>
      <h3>Invoke a directive using attribute</h3>
      <div w3-test-directive></div>
    </div>

    <script src="myApp.js"></script>
    <script src="myCtrl.js"></script>
  </body>
  </html>
