<!DOCTYPE html>
<html lang="us-en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="model.js"></script>
  </head>
  <body ng-app="myFi">
    <h1>AngularJS</h1>
    <h2>AngularJS Filters</h2>
    <p>Filters can be added in AngularJS to format data.We have some predefined </p>
      <ul>
        <li>uppercase</li>
        <li>lowercase</li>
        <li>orderBy</li>
        <li>limitTo</li>
        <li>Date</li>
        <li>filter</li>
        <li>currency</li>
        <li>number</li>
        <li>json</li>
      </ul>
    <div ng-controller="myCtrlFi">
      Filter : <input type="text" ng-model="searchText">
      <table width="500px" border="1px solid grey">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Country</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees | filter:searchText | orderBy:'country'">
              <td>{{employee.firstName | uppercase}}</td>
              <td>{{employee.lastName | lowercase}}</td>
              <td>{{employee.country}}</td>
              <td>{{employee.price | currency : 'EUR'}}</td>
            </tr>
        </tbody>
      </table>
      </div>
      <h2>Custom filters</h2>
      <h3>Custom filters format</h3>
      index.html file
      <pre>
        Enter text :<input type="text" ng-model="msz"><br>
        Result: {{msz |  filter_name}}
      </pre>
      script.js file
      <pre>
      app.filter("filter_name", function(){
        return function(para){

        };
      });
      </pre>
      <script src="myApp.js"></script>
      <script src="myCtrl.js"></script>
  </body>
</html>
