<!DOCTYPE html>
<html lang="us-en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="AngularJS">
    <meta name="description" content="AngularJS Tutorials">
    <meta name="keywords" content="dirctives, SPA, routing">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="model.js"></script>
  </head>
  <body>
    <h1>AngularJS</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
      <h3>One-way data binding</h3>
      Name:<input type="text" ng-model="name">

      <h3>Two-way data binding</h3>
      Firstname:<input type="text" size="25" ng-model="fname">
      <p>Your first name is {{fname}}</p>

      <h3>Validate user input</h3>
      <form name="myForm">
        Email:<input type="email" name="myAddress" ng-model="text">
        <span ng-show="myForm.myAddress.$error.email">not a valid email address</span>
        <p style="color:red">Enter your email address in the input field. AngularJS will display error message if the email address is not valid.</p>
      </form>

      <h3>Repeating HTML elements</h3>
      <ul>
        <li ng-repeat="item in items">{{item}}</li>
      </ul>
      <h3>ng-repeat directive used an array of objects</h3>
      <ul>
        <li ng-repeat="name in names">{{name.name +" , " +name.age}}</li>
      </ul>

      <h2>Custom directives</h2>
      <p>AngularJS provides built-in directives which offers functionality to our application.In AngularJS we can create our own custom directives also.<br>
      New directives are created by using .directive function. To invoke a directive, make an HTML element with the same tag name as a new directive.<br>
      By naming a custom directive we must use camelCase but when invoking is we must use "-" seperated name.</p>
      <h3>We can invoke a directive by using:</h3>
      <ul>
        <li ng-repeat="naming in namings">{{naming}}</li>
      </ul>
    </div>

  </body>
  </html>
