<!DOCTYPE html>
<html lang="us-en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <h1>AngularJS</h1>
    <h2>AngularJS Modules</h2>
    <p>We can have multiple ng-app directives in an HTML document but only one app is auto initialized and the rest needs to be manually initialized.</p>
    <ul>
      <li>An angularjs module defines an application</li>
      <li>A module is a container for different parts of our application.</li>
      <li>A module is a container for the application controllers</li>
      <li>A controller is always belongs to a module</li>
      <li>We cannot declare a multiple modules in ng-app, this is a limitation of ng-app, it restricts we to only one module per page</li>
      <li>main purpose: A module is a collection of directives, filters, services, controllers and configure information. </li>
      <li>What is the purpose of angular module in AngularJS?
NgModules consolidate components, directives, and pipes into cohesive blocks of functionality, each focused on a feature area, application business domain, workflow, or common collection of utilities. Modules can also add services to the application.</li>
    </ul>
    <div ng-app="myApp" ng-controller="myCtrl">
      FirstName: <input type="text" ng-model="firstName"><br>
      LastName: <input type="text" ng-model="lastName"><br>
      {{firstName + " " + lastName}}
    </div>


    <script src="myApp.js"></script>
    <script src="myCtrl.js"></script>
  </body>
  </html>
