<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-defined Directives</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-app="">
    <h2>pre-defined directives</h2>
    <p>ng-show & ng-hide directives</p>
    <p>ng-show & ng-hide allows we to dsplay or hide different HTML elements based on the expression provded to it</p>
    Hide the p element:<input type="checkbox" ng-model="isHidden">
    <div ng-hide="isHidden">
      <p>ng-show drectve</p>
    </div>
    <h2>ng-switch directive</h2>
     My favouriate topic is : <select ng-model="myVar">
       <option value="Dogs">Dogs
        <option value="Cars">Cars
      <option value="Tutorials">Tutorials
      </select>
      <div ng-switch="myVar">
        <div ng-switch-when="Dogs">
          <h1>Dogs</h1>
          <p>Welcome! All world wde Dogs.</p>
        </div>
        <div ng-switch-when="Cars">
          <h1>Cars</h1>
          <p>Your favouriate car model is here</p>
        </div>
        <div ng-switch-when="Tutorials">
          <h1>Tutorials</h1>
          <p>Learn your nteresting course here</p>
        </div>
        <div ng-switch-default>
          <h1>Switch</h1>
          <p>Select topic form the dropdown, to switch the content of ths DiV element</p>
        </div>
      </div>
      <h2>ng-if directive</h2>
      Click the checkbox to show :<input type="checkbox"  ng-model="myRem">
      <div ng-if="myRem">
        <h2>ng-if directive</h2>
        <p>ng-if directive removes the HTML element if the expresson evaluates to false.</p>
      </div>
      <h2>ng-include directive</h2>
      <p>ng-include directive will compile and include one HTML page in another page.</p>
      <div ng-include="'directives.html'"></div> 
  </body>
</html>
